/* Globle rules */

*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

:root{

    --mainColor: #10CAB7;
    --secColor: #2c4755;
    

}